<div class="bg-light lter b-b wrapper-md hidden-print">
	<%=
		render partial: 'shared/top_panel',
			locals: {
				header: t('translation.list'),
				button_name: 'Drop non actual translations in file',
				button_path: section_file_drop_non_actual_path(@file),
				button_disabled: !@file.non_actual_translations?
			}
	%>
</div>

<%= render partial: 'shared/flash' %>

<div class="wrapper-md">
	<%= form_for :section_file_translations, url: section_file_translations_path(@file), method: :get, html: {id: 'translations_form'} do |f| %>
		<%= render partial: 'shared/translations/tabs',
			locals: {
				file: @file,
				actual_translations: @actual_translations,
				non_actual_translations: @non_actual_translations,
			}
		%>
	<% end %>
</div>
