<% if flash[:notice].present? or flash[:alert].present? %>
    <div class="wrapper-md" style="padding-bottom: 0px;">
      <%= render partial: 'shared/notice' %>
      <%= render partial: 'shared/alert' %>
    </div>
<% end %>