<%= javascript_tag(render partial: 'shared/js/footer', formats: [:js], locals: {select: '#rows_count', form: form}) %>

<footer class="panel-footer">
  <div class="row">
    <div class="col-sm-1">
      <%= select 'rows', 'count', rows_count.collect { |k, v| [v, k] }, {selected: @per_page}, {class: 'form-control v-middle', name: 'rows_count'} %>
    </div>
    <div class="col-sm-11 text-right">
      <%= paginate rows %>
    </div>
  </div>
</footer>