<%=
	if defined?(button_name) and defined?(button_path)
		klass_disabled = button_disabled ? 'disabled' : ''
		link_to(button_name, button_path, class: "btn btn-primary pull-right btn-sm #{klass_disabled}")
	end
%>
<h1 class="m-n font-thin h3"><%= header %></h1>
