<div class="bg-light lter b-b wrapper-md hidden-print">
	<%=
		render partial: 'shared/top_panel',
			locals: {
				header: t('translation.list'),
				button_name: 'Drop non actual translations in all files',
				button_path: section_drop_non_actual_path(@section),
				button_disabled: !@section.non_actual_translations?
			}
	%>
</div>

<%= render partial: 'shared/flash' %>

<div class="wrapper-md">
	<%= form_for :section_translations, url: section_translations_path(@section), method: :get, html: {id: 'translations_form'} do |f| %>
		<% @section.files.each do |section_file| %>
			<%= render partial: 'shared/translations/tabs',
				locals: {
					file: section_file,
					actual_translations: section_file.translations.actual,
					non_actual_translations: section_file.translations.non_actual,
				}
			%>
		<% end %>
	<% end %>
</div>
