<div class="container w-xxl w-auto-xs">

  <a href class="navbar-brand block m-t"><%= Rails.configuration.site_name %></a>

  <div class="m-b-lg">
    <div class="wrapper text-center">
      <strong><%= t('Authorization') %></strong>
    </div>

    <%= form_for :resource, as: resource_name, url: session_path(resource_name), html: {class: "form-validation"} do |f| %>

        <div class="text-danger wrapper text-center">
          <%= flash[:alert] %>
        </div>

        <div class="list-group list-group-sm">
          <div class="list-group-item">
            <input type="email" placeholder="Email" class="form-control no-border" name="username">
          </div>
          <div class="list-group-item">
            <input type="password" placeholder="Password" class="form-control no-border" name="password">
          </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block"><%= t('Sign in') %></button>
    <% end %>
  </div>
  <%= render partial: 'layouts/footer' %>

</div>