<table class="table m-b-none footable-loaded footable default table-striped table-bordered">

	<thead>
		<tr>
			<th class="footable-visible footable-sortable">
				<%= t('translation.content') %>
			</th>

			<th class="footable-visible footable-sortable" style="width: 150px;">
				<%= t('translation.repeat_count') %>
			</th>

			<th class="footable-visible footable-sortable" style="width: 200px;">
				<%= t('translation.created_at') %>
			</th>

			<th class="footable-visible footable-sortable" style="width: 50px;">
				<%= t('translation.approved') %>
			</th>
		</tr>
	</thead>

  <tbody>

  <% translations.each do |translation| %>
      <tr class="js-row <%= 'text-muted' if translation.approved? %>" style="display: table-row;">

        <td class="footable-visible footable-first-column v-middle">
          <span class="footable-toggle">
            <%= translation.content %>
          </span>
        </td>

		<td class="footable-visible footable-first-column v-middle">
		  <span class="footable-toggle">
			<%= translation.repeat_count %>
		  </span>
		</td>

		<td class="footable-visible footable-first-column v-middle">
          <span class="footable-toggle">
            <%= translation.created %>
          </span>
        </td>

		<td class="footable-visible footable-first-column v-middle">
			<label class="i-switch i-switch-lg bg-success m-t-xs" data-translation-id="<%= translation.id %>">
				<input type="checkbox" <%= 'checked' if translation.approved? %>>
				<i></i>
			</label>
		</td>

      </tr>
  <% end %>

  </tbody>

</table>

<%# render partial: 'shared/table_footer', locals: {form: form, rows: @translations} %>
