<div class="panel panel-default">
	<div class="panel-heading font-bold">
		File: <%= file.full_path %>
	</div>
	<div class="panel-body" style="padding-bottom: 0px;">
		<div class="tab-container">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="" data-toggle="tab" data-target="#actual" aria-expanded="true">
						Actual translations
					</a>
				</li>

				<% if non_actual_translations.count > 0 %>
					<li class="">
						<a href="" data-toggle="tab" data-target="#non_actual" aria-expanded="false">
							Non actual translations
						</a>
					</li>
				<% end %>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="actual">
					<%= render partial: 'shared/translations/table', locals: {translations: actual_translations} %>
				</div>

				<% if non_actual_translations.count > 0 %>
					<div class="tab-pane" id="non_actual">
						<%= render partial: 'shared/translations/table', locals: {translations: non_actual_translations} %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

