<%= render partial: 'layouts/header' %>

<!-- aside -->
<aside id="aside" class="app-aside hidden-xs bg-dark">
  <div class="aside-wrap">
    <div class="navi-wrap">

      <!-- nav -->
      <nav ui-nav class="navi clearfix">
        <ul class="nav">
			<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
				<span>Разделы</span>
			</li>

			<% @sections.each do |section| %>
				<li class="<%= section.li_class(@section) %>">
					<a href="<%= section_translations_path(section) %>" class="auto">
						<span class="pull-right text-muted">
							<i class="fa fa-fw fa-angle-right text"></i>
							<i class="fa fa-fw fa-angle-down text-active"></i>
						</span>
						<b class="label bg-primary pull-right"><%= section.files.count %></b>

						<span><%= section.name %></span>
					</a>

					<ul class="nav nav-sub dk" style="">
						<li class="nav-sub-header">
							<a href="<%= section_translations_path(section) %>"><span><%= section.name %></span></a>
						</li>
						<% section.files.each do |file| %>
							<li>
								<a href="<%= section_file_translations_path(file) %>">
									<b class="label bg-success pull-right"><%= file.translations.count %></b>
									<span><%= file.name %></span>
								</a>
							</li>
						<% end %>
					</ul>
				</li>
			<% end %>
        </ul>
      </nav>
      <!-- nav -->

    </div>
  </div>
</aside>
<!-- / aside -->
